.btn__wrap {
  gap: 8px;
  margin-bottom: 8px;
}

.field__wrap {
  margin-bottom: 24px;
  h2 {
    margin-bottom: 15px;
  }
  div:nth-child(1) {
    margin-bottom: 8px;
  }
}

.subtitle {
  padding-top: 0;
  margin-bottom: 35px;
}
